.header{
    height: 34vw;
    margin: 30px auto;
    background: url('./header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    width: 50%;
    bottom: 10%;
    left: 6vw;
    color: aliceblue;
    animation: fadeIn 2s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: 70px;
}


.header-contents button{
    border: none;
    color: black;
    background-color:white;
    border-radius: 50px;
    font-size: 15px;
    padding: 8px;
    width: 150px;
    margin-top: 15px;
}
